body {
    background-image: url("logo.jpg");
    
}

.jumbotron {
    background-image: url("bball-gods.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.center {
    text-align: center;
}

#time, #game {
    color: white;
}

h1, h3 {
    color: white;
    background-color: black;
    margin-right: 380px;
    margin-left: 380px;
            
}


@media only screen and (max-width: 600px) {
    .jumbotron {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .jumbotron {
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .jumbotron {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    .jumbotron {
        text-align: center;
    }
}