body {
    background-image: url("logo.jpg");
    
}

.jumbotron {
    background-image: url("bball-gods.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.center {
    text-align: center;
}

#time, #game {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.answers {
    font-size: 140%;
}

.preload-image {
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred; 
    font-size: 100%;
}


h1, h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 5px;
          
}

.btn {
    box-shadow: 5px 5px 5px grey;
}


@media only screen and (max-width: 600px) {
    .center {
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    h1, h3 {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    .center {
        text-align: center;
        margin-right: 300px;
    }
}

@media only screen and (min-width: 992px) {
    h1, h3 {
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    h1, h3 {
        text-align: center;
    }
}